This website is deployed by Ansible! <br>
<br>
Nodename: {{ ansible_nodename }} <br>
IP address: {{ ansible_all_ipv4_addresses[0] }} <br>
Distribution: {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_distribution_release }})
